*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 80px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.logo{
    height: 100%;
}
.nav-list{
    display: flex;
    flex-direction: row;
}
.nav-list li{
    margin: 32px;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}
.container{
    width: 1100px;
    height: 100%;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section-1{
    background-color: #ffcdd2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 478px;
}
.section-1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hero-image{
    width: 400px;
    margin-left: 72px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 24px;
    margin-top: 32px;
}
.section-1-left{
    display: flex;
    flex-direction: column;
}
.section-1-links{
    margin-top: 32px;
    margin-bottom: 32px;
}
.terms-and-conditions{
    font-size: 11px;
    max-width: 630px;
}
.link-button-black{
    background-color: black;
    color: white;
}
.link-button{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 24px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.link-button-outlined{
    border: 1px solid black;
    color: black;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}
body{
    font-family: 'Poppins', sans-serif;
}
.section-2{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 478px;
    padding-top: 72px;
    padding-bottom: 72px;
}
.section-2.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-2 h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 48px;
}
.section-2 p{
    font-size: 21px;
    font-weight: 400;
    margin-top: 30px;
}
.button2{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    text-transform: uppercase;
   

}
.button2-googleplay{
    background-color: black;
    color: white;
    margin-right: 8px;
    width: 193px;
}
.button2-appstore{
    background-color: black;
    color: rgb(243, 237, 237);
    width: 193px;
    
}
.section-2-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}